@define-color background #d6ced3;
@define-color background-dark #15283b;
@define-color background-light #dfdade;
@define-color foreground #15283b;
@define-color foreground-light #38354e;
@define-color foreground-dark #15283b;
@define-color text #15283b;
@define-color red #bb262d;
@define-color dark-red #6c0f23;
@define-color blue #2956b1;
@define-color bright-blue #3b6dd2;
@define-color yellow #ba7c00;
@define-color green #067328;
@define-color cyan #00777d;