/* @define-color background #D9DFDB; */
/* @define-color background-alt #719a87; */
/* @define-color foreground #2B312D; */
@define-color background #beaab7;
@define-color background-alt #2B312D;
@define-color foreground #D9DFDB;
