* {
    font-family: "JuliaMono Forced Nerd Font";
    font-weight: bold;
    font-size: 13pt;
}

window#waybar {
    /* background: #1e1e2e; */
    background: transparent;
    /* border-radius: 5px 5px 5px 5px; */
    /* border-width: 3px; */
    /* border-color: #000000; */
    /* border-style: solid; */
    /* border: 10px transparent; */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: #ffffff; */
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0px -3px transparent;
    /* Avoid rounded borders under each button name */
    padding: 0px;
    border: none;
    border-radius: 0px;
    /* color: #ffffff; */
    color: inherit;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0px -3px @background-light;
}


#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#idle_inhibitor,
#workspaces,
#custom-l_end,
#custom-r_end,
#window,
#custom-notifications,
#custom-space,
#custom-power {
    /* color: #ffffff; */
    color: inherit;
    /* background: #1f284a; */
    background: inherit;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#custom-r_end {
    /* border-radius: 0px 5px 5px 0px; */
    /* margin-right: 0px; */
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
    padding-left: 3px;
}

#workspaces {
    /* padding: 0px; */
    /* background: @text; */
}

#system,
#hub,
#power,
#apps,
#time {
    border-style: solid;
    border-color: @foreground-light;
    color: @background-light;
    box-shadow: inset 0px -4px 1px @foreground-light;
    border-radius: 5px 5px 5px 5px;
    border-width: 5px;
    padding-bottom: 4px;
}

#hub {
    background-color: @blue;
}

#time {
    background-color: @red;
}

#system {
    background-color: @yellow;
}

#power {
    background-color: @dark-red;
}

#apps {
    background-color: @cyan;
}
